<!-- Pre-loader -->
<div id="preloader">
  <div id="status">
    <div class="spinner">Loading...</div>
  </div>
</div>
<!-- End Preloader-->
<!-- Navigation Bar-->

<!-- start Sign In Modal -->
<div class="modal fade" id="signInUpModal" role="dialog" ng-controller="signUpControl">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="padding:0">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
            <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
            <input type="password" class="form-control" id="password" ng-model="password" placeholder="Enter password">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="" checked>Remember me</label>
          </div>
          <button type="submit" class="btn btn-success btn-block" ng-click="submit()"><span class="glyphicon glyphicon-off"></span>Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
              class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Sign In Modal -->


<header id="topnav" class="defaultscroll" ng-controller="menuControl">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a href="index.html" class="logo">
        <img src="images/logo_light.png" alt="" class="logo-light" height="26">
        <img src="images/logo_dark.png" alt="" class="logo-dark" height="24">
      </a>
    </div>
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>
    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu" ng-repeat="m in menu | filter:{level: 0}">
          <a href="{{m.href}}">{{m.name}}</a>
          <ul class="submenu" ng-if="m.hasChild == 1">
            <li class="has-submenu" ng-repeat="mc in menu | filter:{level:1}" ng-if="m.id == mc.parentID">
              <a href="{{mc.href}}">{{mc.name}}</a>
            </li>
          </ul>
        </li>
        <li class="last-elements">
          <a class="signup-link" data-turbolinks="false" data-toggle="modal" data-target="#signInUpModal"
            href="javascript:;">
            <button name="button" type="button" class="btn btn-custom btn-sm">
              SIGN IN
            </button>
          </a>
        </li>
        <li class="last-elements">
          <a class="signup-link" href="javascript:;">
            <button name="button" type="button" class="btn btn-primary btn-sm" ng-click="languageChange()">
              Change
            </button>
          </a>
        </li>
      </ul>
      <!-- End navigation menu        -->
    </div>
  </div>
</header>
<!-- End Navigation Bar-->