<!-- Pre-loader -->
<div id="preloader">
  <div id="status">
    <div class="spinner">Loading...</div>
  </div>
</div>
<!-- End Preloader-->
<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll" ng-controller="menuControl">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a href="index.html" class="logo">
        <img src="images/logo_light.png" alt="" class="logo-light" height="26">
        <img src="images/logo_dark.png" alt="" class="logo-dark" height="24">
      </a>
    </div>
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>
    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu" ng-repeat="m in menu | filter:{level: 0}">
          <a href="{{m.href}}">{{m.name}}</a>
          <ul class="submenu" ng-if="m.hasChild == 1">
            <li class="has-submenu" ng-repeat="mc in menu | filter:{level:1}" ng-if="m.id == mc.parentID">
              <a href="{{mc.href}}">{{mc.name}}</a>
            </li>
          </ul>
        </li>
        <li class="last-elements">
          <a class="signup-link" data-turbolinks="false" data-toggle="modal" data-target="#signInUpModal"
            href="javascript:;">
            <button name="button" type="button" class="btn btn-custom btn-sm">
              SIGN IN
            </button>
          </a>
        </li>
      </ul>
      <!-- End navigation menu        -->
    </div>
  </div>
</header>
<!-- End Navigation Bar-->